:focus {
  outline: none;
}

form {
  margin: 20px;
}

div {
  margin: 10px;
}

label,
input[type="submit"] {
  width: 110px;

  display: inline-block;
}

input {
  width: 200px;
}

input:focus:invalid {
  box-shadow: 0 0 5px #d45252;

  border-color: #b03535;
}

input:focus:valid {
  box-shadow: 0 0 5px #5cd053;

  border-color: #28921f;
}
